header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primari);
}

header h2 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: var(--bg);
}


#user-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user-section div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

#user-section div a {
    text-decoration: none;
    text-align: center;
    padding: 2px;
    color: var(--primari);
    font-size: 2rem;
    min-width: 300px;
}

#user-section div a:hover {
    color: #21212180;
}

#user-section img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 3px solid var(--primari);
} 

#languages-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

#languages-section div,
#user-section {
    padding: 10px 0px;
} 

#languages-section #about {
    background-color: var(--primari);
    color: var(--bg);
    border-radius:15px;
    padding: 10px;
    min-width: 300px;
}

#languages-section #about p {
    color: var(--bg);
    text-align: center;
    max-width: 500px;
    font-size: 2.5rem;
}

