header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primari);
}

header h2 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: var(--bg);
}
